<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-Android-web-app-capable" content="yes">
<meta name="apple-Android-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>管理员客服首页</title>
<link rel="stylesheet" type="text/css" href="/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/css/index.css" />
<script src="/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="/js/functions.js" type="text/javascript"></script>
<script src="/js/jquery.json.min.js" type="text/javascript"></script>

<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script>
$(function(){
    var scrheight=$(window).height();
    $('#container').height(scrheight);
    $('#admin_container').height(scrheight-40);
    window.chat_content_height=scrheight-40-130;
    $('#admin_container .chat_content').height(chat_content_height);
});
var myinfo={
	 kefuobj:{id:'<%=kefu_id%>',name:'<%=nickname%>'}
	};
</script>
</head>
<body>
    <div class="container" id="container">
        <div class='chat_content_title g-bg'><span id="roomtitle"><%=nickname%>你好，<a href="logout.html">退出系统</a></span>
            <div class="fr">
                <span id="numusers">当前房间0个</span>
            </div>
            <br>
            <ul id="alluser" class="alluser"></ul>
        </div>
        <div id="admin_container" class="admin-container">
            <div id="chat_left" class="g-bg admin-left">
                <span class="friendtitle">在线客户列表</span>
                <ul id="friendlist">
                </ul>
            </div>
            <div id="admin_right" class="admin-right chat_container">
                <div class="chat_message" data="home">
                    <div id="chat_content" class="chat_content g-bg msg-admin cl"></div>
                    <a href="javascript:;" class="btn fr" onclick="$(this).prev().html('');">清屏</a>
                    <br>
                    <div class="sendmessage g-bg cl">
                        <a href="javascript:;" onClick="chatconn();" class="btn hide">连接</a>
                        <a href="javascript:;" onClick="disconn();" class="btn hide">断开连接</a>
                        <div id="status">未连接</div>
                        <div class="input-wrap">
                            <a href="javascript:;" class="btn fr" onclick="sendmsg(this);">发送信息</a>
                            <div class="input-text">
                            <input type="text" class="m-form-control input-msg" id="msg_input">
                            </div>

                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/admin.js" type="text/javascript"></script>
    <input type="hidden" class="kefuid" id="kehuid" value="" />
</body>

</html>