body{background:url(../images/1.jpg) repeat;color:#000;}
a{color:#000;}
.g-bg{background:#fff;}
p{line-height:18px;padding:2px;}
.cl:after{content:'';display:block;width:100%;clear:both;}
.container{width:80%;margin:0px auto;background: #fff;}
.chat_content{height:300px;margin:10px auto;overflow:auto;padding:5px;border-radius:5px;border:1px solid #CCC;}
#input{border-radius:2px;border:1px solid #ccc;margin-top:10px;padding:5px;width:98%;display:block;}
.room li{float:left;padding:0px 10px;height:30px;line-height:30px;}
.chat-message{margin-bottom:10px;}
.chat-message .nickname{font-size:12px;color:#666;}
.chat-message .message-time{color:#C3C3C3;}
.chat-message .message-text{color:#000;}
.message-l{text-align:left;}
.message-r{text-align:right;}
.message-l .message-text{padding-left:20px;}
.message-r .message-text{padding-right:20px;}
.message-l .message-time,.message-r .message-time{}
#jihuorooms li{display:inline-block;margin-right:10px;}
#jihuorooms li a{border:solid 1px #ededed;height:30px;width:60px;line-height:30px;text-align:center;}
#jihuorooms li a:hover{background:#ededed;}
.chat_content_title{padding:5px 10px;height: 30px;}
#chat_container{position:relative;}
#chat_left{position:absolute;height:100%;top:0px;left:0px;width:150px;}
#friendlist li a{display:block;padding-left:10px;border-bottom:solid 1px #ededed; color:#000;}
.friendtitle{font-size:14px;font-weight:bolder;display:block;text-align:center;border-bottom:solid 2px #ededed;margin-bottom:10px;}
.sendmessage{padding: 10px 20px;border:solid 1px #ccc;}
.sysmsg{margin-bottom:0px;}
.sysmsg .message-text{color: #aaa;}

#friendlist a.hover{background: #ededed;}
.msg-kefu{margin-left: 0px;}
.admin-right{margin-left: 160px;padding:10px;}
.chat-right{padding: 10px;}
.input-msg{margin:10px 0px;}
.selectkefu{}
.selectkefu a{padding:0px 10px; }
